Options -MultiViews
Options -Indexes
Options +FollowSymlinks
RewriteEngine On 
RewriteBase /

<IfModule mod_rewrite.c>

	# Evitar que los archivos y directorios reales sean afectados
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# --- DEFINICIÓN MANUAL DE RUTAS ---
	
	# Login
    RewriteRule ^login$ login.php [L]
	
	# Panel Principal
	RewriteRule ^inicio$ index.php [L]
	
	# Dashboard
	RewriteRule ^inicio/dashboard$ index.php [L]
	
	# Bitácora (Ajustado para coincidir con /inicio/bitacora)
	RewriteRule ^inicio/bitacora$ index.php?action=bitacora [L]
	
	# Eventos
	RewriteRule ^inicio/eventos$ index.php?action=eventos [L]
	
	# Mapa de Calor
	RewriteRule ^inicio/mapa$ index.php?action=mapa [L]
	
	# Enrolamiento BRM
	RewriteRule ^inicio/brm$ index.php?action=brm [L]
	
	# Análisis
	RewriteRule ^inicio/estadisticas$ index.php?action=estadisticas [L]
	RewriteRule ^inicio/candidatura$ index.php?action=candidatura [L]

	# --- FIN DE DEFINICIÓN MANUAL ---

	# Manejo de errores
	RewriteRule ^oops$ nofound.php [L]

</IfModule>

# BEGIN HARDENING
	<FilesMatch "(\.sql|\.env|\.log|\.bak|\.gitignore)$">
		Require all denied
	</FilesMatch>

	RedirectMatch 404 ^/\.git
	Options -Indexes
# END HARDENING